<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed"><a class="sidebar-link td-n" href="{{ path('clientHome') }}">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                    <img src="{{ asset('template/assets/static/images/logo.png') }}" alt="logo"></div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text">Arte Tech Pro</h5>
                            </div>
                        </div>
                    </a></div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item"><a class="sidebar-link" href="{{ path('clientHome') }}">

                    <span class="icon-holder"><i
                                class="c-deep-orange-500 ti-calendar"></i> </span><span class="title">Te Bevestig Period</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="{{ path('clientConfirmedPeriods') }}"><span class="icon-holder"><i
                                class="c-teal-500 ti-calendar"></i> </span><span class="title">Bevestigd Period</span></a></li>
        </ul>
    </div>
</div>