* 
    margin: 0
    padding: 0


*,
*::before,
*::after 
    box-sizing: inherit


html,
body 
    box-sizing: border-box
    margin: 0px
    width: 100vw


ul 
    list-style: none

input,
textarea 
    background: transparent
    border: none
    outline: none


button 
    background: none
    border: none
    outline: none

a
    text-decoration: none !important
    
.error 
    color: red
    font-size: 14px
.title__main
    display: block
    color: $main-color
    font-size: 20px
    font-weight: $font-medium
    text-align: left
    margin: 10px 0px

.title__second
    display: block
    color: $main-light-color
    font-weight: $font-medium
    font-size: 16px
    text-align: left

.text
    display: block
    color: $main-light-color
    font-size: 16px
    text-align: left
    margin-bottom: 10px

.rate
    display: flex
    justify-content: space-between
    align-items: center

    .rate__hours
        width: 40%
        display: inline-block
    .rate__transport
        width: 40%
        display: inline-block

    .rate__edit
        width: 20%
        color: $main-color
        display: flex
        justify-content: center
        align-items: center
        font-size: 16px
    .text
        display: block
        color: $main-light-color
        font-size: 16px
        text-align: left
        margin-bottom: 10px
    .title__main
        display: block
        color: $main-color
        font-size: 18px
        font-weight: $font-medium
        text-align: left
        margin: 10px 0px
    a
        font-size: 16px